*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: hsla(34, 61%, 88%, 0.55);
}

form ,.data-bar{
    box-shadow: 0px 0px 25px #00000010;
}

.text-box{
    height: 40px;
    border: thin solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: gray;
    padding-top: 5px;
}